body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background: linear-gradient(to right, #ffe0f0, #ffc0cb);
  color: #333;
  text-align: center;
  padding: 40px 20px;
  
}

.container {
  background-image: url('borboletas.png'); /* imagem de borboleta em desenho */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 240, 245, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 600px;
  margin: auto;
  padding: 30px;
  backdrop-filter: blur(4px);
}




h1 {
  color: #ff69b4;
  font-size: 2.9em;
  margin-bottom: 20px;
}

p {
  font-size: 1.6em;
  margin: 20px 0;
  line-height: 1.5;
  font-weight: 600;
  color: #a0097f;
 
}

a.button {
  font-size: 1.1em;
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background-color: #ff69b4;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a.button:hover {
  background-color: #ff1493;
}

body > p:last-of-type {
  font-size: 1em;
  margin-top: 40px;
  color: #800080;
}

/* Responsividade para celular */
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
  a.button {
    width: 90%;
    padding: 15px;
    margin: 15px 0;
    font-size: 1.3em;
  }
  .container {
    padding: 20px;
    background-size: contain;
  }
}


.borboleta {
    position: fixed;
    width: 60px;
    height: 60px;
    background-image: url('./icons8-borboleta-80.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: asas 1s ease-in-out infinite;
    pointer-events: none;
    z-index: 999;
  }

  @keyframes asas {
    0%, 100% { transform: scale(1) rotate(0deg); }
    50% { transform: scale(1.1) rotate(10deg); }
  }